<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdxt.app.dao.chongqing.LisExchangePatientItemMapper">
  <resultMap id="BaseResultMap" type="com.cdxt.app.entity.LisExchangePatientItem">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="REQ_ORDER_NO" jdbcType="VARCHAR" property="reqOrderNo" />
    <result column="REQ_ITEM_NO" jdbcType="VARCHAR" property="reqItemNo" />
    <result column="REQ_ITEM_NAME" jdbcType="VARCHAR" property="reqItemName" />
    <result column="REQ_ITEM_CNAME" jdbcType="VARCHAR" property="reqItemCname" />
    <result column="REQ_ITEM_FEE" jdbcType="DECIMAL" property="reqItemFee" />
    <result column="PATIENT_ID" jdbcType="VARCHAR" property="patientId" />
    <result column="REQ_ITEM_ID" jdbcType="VARCHAR" property="reqItemId" />
    <result column="IS_MERGE" jdbcType="VARCHAR" property="isMerge" />
    <result column="CONTAINER" jdbcType="VARCHAR" property="container" />
    <result column="EXECUTE_SECTION" jdbcType="VARCHAR" property="executeSection" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="SAMPLE_NAME" jdbcType="VARCHAR" property="sampleName" />
    <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType" />
    <result column="HOSPITAL_ID" jdbcType="VARCHAR" property="hospitalId" />
    <result column="HOSPITAL_NAME" jdbcType="VARCHAR" property="hospitalName" />
    <result column="REQ_ITEM_NO_TYPE" jdbcType="VARCHAR" property="reqItemNoType" />
    <result column="REQ_OTHER_ITEM_NAME" jdbcType="VARCHAR" property="reqOtherItemName" />
    <result column="REQ_OTHER_ITEM_NO" jdbcType="VARCHAR" property="reqOtherItemNo" />
    <result column="RQCOLOR" jdbcType="VARCHAR" property="rqcolor" />
    <result column="EXECUTE_SECTION_ID" jdbcType="VARCHAR" property="executeSectionId" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="METHOD_NAME" jdbcType="VARCHAR" property="methodName" />
    <result column="METHODE_CODE" jdbcType="VARCHAR" property="methodeCode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, REQ_ORDER_NO, REQ_ITEM_NO, REQ_ITEM_NAME, REQ_ITEM_CNAME, REQ_ITEM_FEE, PATIENT_ID, 
    REQ_ITEM_ID, IS_MERGE, CONTAINER, EXECUTE_SECTION, TYPE, SAMPLE_NAME, ITEM_TYPE, 
    HOSPITAL_ID, HOSPITAL_NAME, REQ_ITEM_NO_TYPE, REQ_OTHER_ITEM_NAME, REQ_OTHER_ITEM_NO, 
    RQCOLOR, EXECUTE_SECTION_ID, ORDER_ID, METHOD_NAME, METHODE_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LIS_EXCHANGE_PATIENT_ITEMS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPatientId" parameterType="String">
		delete from LIS_EXCHANGE_PATIENT_ITEMS
		where PATIENT_ID =
		#{PATIENT_ID,jdbcType=VARCHAR}
	</delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from LIS_EXCHANGE_PATIENT_ITEMS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdxt.app.entity.LisExchangePatientItem">
    insert into LIS_EXCHANGE_PATIENT_ITEMS (ID, REQ_ORDER_NO, REQ_ITEM_NO, 
      REQ_ITEM_NAME, REQ_ITEM_CNAME, REQ_ITEM_FEE, 
      PATIENT_ID, REQ_ITEM_ID, IS_MERGE, 
      CONTAINER, EXECUTE_SECTION, TYPE, 
      SAMPLE_NAME, ITEM_TYPE, HOSPITAL_ID, 
      HOSPITAL_NAME, REQ_ITEM_NO_TYPE, REQ_OTHER_ITEM_NAME, 
      REQ_OTHER_ITEM_NO, RQCOLOR, EXECUTE_SECTION_ID, 
      ORDER_ID, METHOD_NAME, METHODE_CODE
      )
    values (#{id,jdbcType=VARCHAR}, #{reqOrderNo,jdbcType=VARCHAR}, #{reqItemNo,jdbcType=VARCHAR}, 
      #{reqItemName,jdbcType=VARCHAR}, #{reqItemCname,jdbcType=VARCHAR}, #{reqItemFee,jdbcType=DECIMAL}, 
      #{patientId,jdbcType=VARCHAR}, #{reqItemId,jdbcType=VARCHAR}, #{isMerge,jdbcType=VARCHAR}, 
      #{container,jdbcType=VARCHAR}, #{executeSection,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{sampleName,jdbcType=VARCHAR}, #{itemType,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR}, 
      #{hospitalName,jdbcType=VARCHAR}, #{reqItemNoType,jdbcType=VARCHAR}, #{reqOtherItemName,jdbcType=VARCHAR}, 
      #{reqOtherItemNo,jdbcType=VARCHAR}, #{rqcolor,jdbcType=VARCHAR}, #{executeSectionId,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{methodName,jdbcType=VARCHAR}, #{methodeCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdxt.app.entity.LisExchangePatientItem">
    insert into LIS_EXCHANGE_PATIENT_ITEMS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="reqOrderNo != null">
        REQ_ORDER_NO,
      </if>
      <if test="reqItemNo != null">
        REQ_ITEM_NO,
      </if>
      <if test="reqItemName != null">
        REQ_ITEM_NAME,
      </if>
      <if test="reqItemCname != null">
        REQ_ITEM_CNAME,
      </if>
      <if test="reqItemFee != null">
        REQ_ITEM_FEE,
      </if>
      <if test="patientId != null">
        PATIENT_ID,
      </if>
      <if test="reqItemId != null">
        REQ_ITEM_ID,
      </if>
      <if test="isMerge != null">
        IS_MERGE,
      </if>
      <if test="container != null">
        CONTAINER,
      </if>
      <if test="executeSection != null">
        EXECUTE_SECTION,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="sampleName != null">
        SAMPLE_NAME,
      </if>
      <if test="itemType != null">
        ITEM_TYPE,
      </if>
      <if test="hospitalId != null">
        HOSPITAL_ID,
      </if>
      <if test="hospitalName != null">
        HOSPITAL_NAME,
      </if>
      <if test="reqItemNoType != null">
        REQ_ITEM_NO_TYPE,
      </if>
      <if test="reqOtherItemName != null">
        REQ_OTHER_ITEM_NAME,
      </if>
      <if test="reqOtherItemNo != null">
        REQ_OTHER_ITEM_NO,
      </if>
      <if test="rqcolor != null">
        RQCOLOR,
      </if>
      <if test="executeSectionId != null">
        EXECUTE_SECTION_ID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="methodName != null">
        METHOD_NAME,
      </if>
      <if test="methodeCode != null">
        METHODE_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reqOrderNo != null">
        #{reqOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="reqItemNo != null">
        #{reqItemNo,jdbcType=VARCHAR},
      </if>
      <if test="reqItemName != null">
        #{reqItemName,jdbcType=VARCHAR},
      </if>
      <if test="reqItemCname != null">
        #{reqItemCname,jdbcType=VARCHAR},
      </if>
      <if test="reqItemFee != null">
        #{reqItemFee,jdbcType=DECIMAL},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="reqItemId != null">
        #{reqItemId,jdbcType=VARCHAR},
      </if>
      <if test="isMerge != null">
        #{isMerge,jdbcType=VARCHAR},
      </if>
      <if test="container != null">
        #{container,jdbcType=VARCHAR},
      </if>
      <if test="executeSection != null">
        #{executeSection,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sampleName != null">
        #{sampleName,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="reqItemNoType != null">
        #{reqItemNoType,jdbcType=VARCHAR},
      </if>
      <if test="reqOtherItemName != null">
        #{reqOtherItemName,jdbcType=VARCHAR},
      </if>
      <if test="reqOtherItemNo != null">
        #{reqOtherItemNo,jdbcType=VARCHAR},
      </if>
      <if test="rqcolor != null">
        #{rqcolor,jdbcType=VARCHAR},
      </if>
      <if test="executeSectionId != null">
        #{executeSectionId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodeCode != null">
        #{methodeCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdxt.app.entity.LisExchangePatientItem">
    update LIS_EXCHANGE_PATIENT_ITEMS
    <set>
      <if test="reqOrderNo != null">
        REQ_ORDER_NO = #{reqOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="reqItemNo != null">
        REQ_ITEM_NO = #{reqItemNo,jdbcType=VARCHAR},
      </if>
      <if test="reqItemName != null">
        REQ_ITEM_NAME = #{reqItemName,jdbcType=VARCHAR},
      </if>
      <if test="reqItemCname != null">
        REQ_ITEM_CNAME = #{reqItemCname,jdbcType=VARCHAR},
      </if>
      <if test="reqItemFee != null">
        REQ_ITEM_FEE = #{reqItemFee,jdbcType=DECIMAL},
      </if>
      <if test="patientId != null">
        PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="reqItemId != null">
        REQ_ITEM_ID = #{reqItemId,jdbcType=VARCHAR},
      </if>
      <if test="isMerge != null">
        IS_MERGE = #{isMerge,jdbcType=VARCHAR},
      </if>
      <if test="container != null">
        CONTAINER = #{container,jdbcType=VARCHAR},
      </if>
      <if test="executeSection != null">
        EXECUTE_SECTION = #{executeSection,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sampleName != null">
        SAMPLE_NAME = #{sampleName,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null">
        ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        HOSPITAL_ID = #{hospitalId,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="reqItemNoType != null">
        REQ_ITEM_NO_TYPE = #{reqItemNoType,jdbcType=VARCHAR},
      </if>
      <if test="reqOtherItemName != null">
        REQ_OTHER_ITEM_NAME = #{reqOtherItemName,jdbcType=VARCHAR},
      </if>
      <if test="reqOtherItemNo != null">
        REQ_OTHER_ITEM_NO = #{reqOtherItemNo,jdbcType=VARCHAR},
      </if>
      <if test="rqcolor != null">
        RQCOLOR = #{rqcolor,jdbcType=VARCHAR},
      </if>
      <if test="executeSectionId != null">
        EXECUTE_SECTION_ID = #{executeSectionId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        METHOD_NAME = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodeCode != null">
        METHODE_CODE = #{methodeCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdxt.app.entity.LisExchangePatientItem">
    update LIS_EXCHANGE_PATIENT_ITEMS
    set REQ_ORDER_NO = #{reqOrderNo,jdbcType=VARCHAR},
      REQ_ITEM_NO = #{reqItemNo,jdbcType=VARCHAR},
      REQ_ITEM_NAME = #{reqItemName,jdbcType=VARCHAR},
      REQ_ITEM_CNAME = #{reqItemCname,jdbcType=VARCHAR},
      REQ_ITEM_FEE = #{reqItemFee,jdbcType=DECIMAL},
      PATIENT_ID = #{patientId,jdbcType=VARCHAR},
      REQ_ITEM_ID = #{reqItemId,jdbcType=VARCHAR},
      IS_MERGE = #{isMerge,jdbcType=VARCHAR},
      CONTAINER = #{container,jdbcType=VARCHAR},
      EXECUTE_SECTION = #{executeSection,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      SAMPLE_NAME = #{sampleName,jdbcType=VARCHAR},
      ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      HOSPITAL_ID = #{hospitalId,jdbcType=VARCHAR},
      HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
      REQ_ITEM_NO_TYPE = #{reqItemNoType,jdbcType=VARCHAR},
      REQ_OTHER_ITEM_NAME = #{reqOtherItemName,jdbcType=VARCHAR},
      REQ_OTHER_ITEM_NO = #{reqOtherItemNo,jdbcType=VARCHAR},
      RQCOLOR = #{rqcolor,jdbcType=VARCHAR},
      EXECUTE_SECTION_ID = #{executeSectionId,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=VARCHAR},
      METHOD_NAME = #{methodName,jdbcType=VARCHAR},
      METHODE_CODE = #{methodeCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>